{% extends 'phoenix/base.html' %}
{% load static %}

{% block body_block %}

<h1>Как заказать</h1>
<p class="text-dark">
  Отберите фото- видео- материалы и пришлите их нам.
  Сообщите Ваши пожелания, если они имеются или оставьте стиль оформления на усмотрение дизайнера.
  Готовая работа будет отправлена Вам с "водяными знаками" для согласования.
  <strong>Оплата только после утверждения результата.</strong>
  Стоимость зависит от количества и качества фотографий и от ограничений во времени.
  Свяжитесь с нами для уточнения деталей.
</p>
<p>
  Телефон +79хх-ххх-хххх, <br />
  электронная почта: <a href="mailto:phoenix-design-studio@mail.ru?subject=Хочу заказать работу&body=Здравствуйте, я хочу заказать работу.">siryurick@mail.ru</a>
</p>

{% endblock %}
