<h4>01. Single Video</h4>
<ul>
  <li>Autoplay HTML5 video when Fancybox opens</li>
  <li>Close Fancybox after video is finished playing</li>
</ul>

<ul class="video-links">
  <li><a class="fancybox-single" href="#single-video">Video 01</a></li>
</ul>

<div id="single-video" class="fancybox-video">
  <video controls width="100%" height="auto">
    <source src="https://cache.wdcdn.net/asset/assetId/2508128/size/primary/ts/1471978675/type/library/client/WD-8KVJQ/Oikos_TheSpill.mp4?token=fc1b0717c&category=pres&action=view" type="video/mp4">
  </video>
</div>

<hr/>

<h4>02. Video Gallery</h4>
<ul>
  <li>Autoplay HTML5 video when Fancybox opens</li>
  <li>Advance Fancybox to next video in gallery when video is finished playing</li>
  <li>Pause video if user navigates to next video in gallery</li>
  <li>Autplay next video if user navigates through the gallery</li>
</ul>

<ul class="video-links">
  <li><a class="fancybox-gallery" rel="video-gallery" href="#video01">Video 01</a></li>
  <li><a class="fancybox-gallery" rel="video-gallery" href="#video02">Video 02</a></li>
  <li><a class="fancybox-gallery" rel="video-gallery" href="#video03">Video 03</a></li>
</ul>

<div id="video01" class="fancybox-video">
  <video controls width="100%" height="auto">
    <source src="https://cache.wdcdn.net/asset/assetId/2508128/size/primary/ts/1471978675/type/library/client/WD-8KVJQ/Oikos_TheSpill.mp4?token=fc1b0717c&category=pres&action=view" type="video/mp4">
  </video>
</div>

<div id="video02" class="fancybox-video">
  <video controls width="100%" height="auto">
    <source src="https://cache.wdcdn.net/asset/assetId/2506071/size/primary/ts/1369681137/type/library/client/WD-8KVJQ/TaxAct_FreetoPee.mp4?token=fc1b0717c&category=pres&action=view" type="video/mp4">
  </video>
</div>

<div id="video03" class="fancybox-video">
  <video controls width="100%" height="auto">
    <source src="https://cache.wdcdn.net/asset/assetId/2507394/size/primary/ts/1471978845/type/library/client/WD-8KVJQ/WalMart_Legs_15.mp4?token=fc1b0717c&category=pres&action=view" type="video/mp4">
  </video>
</div>
