// Hide Fancybox Video until requested
.fancybox-video {
  display: none;
}

// Fancybox Nav Resized so it doesn't cover the video controls
.fancybox-nav {
	top: 50%;
  transform: translateY(-50%);
	height: 40%; 
}

/**** DEMO STUFF ****/

html, body {
  padding: 1em;
}

hr {
  border: none;
  height: 1px;
  background: #eee;
  display: block;
  clear: left;
  margin: 4em 0 2em 0;
}

.video-links {
  list-style: none;
  padding: 0;
  
  li {
    float: left;
    margin-right: 10px;
  }
}

video {
  max-width: 640px;
}